.InfoButton {
  width: 20px;
  z-index: 101;
  bottom: 0;
}

.InfoButtonButton {
  position: relative;
  right: 0;
  z-index: 102;
}

.InfoButtonButton:hover {
  cursor: default;
}

.InfoButtonButton:hover ~ .InfoButtonTextBox {
  display: inline-block;
}

.InfoButtonTextBox {
  position: fixed;
  display: none;
  background-color: white;
  width: 300px;
  line-height: 24px;
  padding-left: 25px;
  border-radius: 12px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.4);
}
