{% extends "default.html" %}

{% block title %}<title>Newick</title>{% endblock %}

{% block static %}
  {{ block.super }}

  <!-- redirect user if already logged in -->
  {% if user.is_authenticated %}
    <script>window.location.href = "/newick/"</script>
  {% endif %}

  {% load static %}
  <link href="{% static 'newick/css/accountStyle.css' %}" rel="stylesheet">
  <script src="{% static 'newick/js/accountScript.js' %}"></script>
{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="form form-md">
    <div class="form-header">Logged Out</div>
    <div class="form-body">
      <script>redirect(0, "newick/");</script>
    </div>
  </div>
{% endblock %}
