{% extends "registration/log.html" %}

{% block BioMod %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="form form-sm">
      <div class="form-header">Newick Login</div>
      <div class="form-body">
        <div class="form-group">
          <label for="user">Username:</label>
          <input type="text" class="form-control" id={{ form.username|default_if_none:"" }}</input>
          {% if form.errors %}
            <p class="error">Your username and password didn't match. Please try again.</p>
          {% endif %}
        </div>
        <div style="margin-bottom: 0px;" class="form-group">
          <label for="pass">Password:</label>
          <input type="password" class="form-control" id={{ form.password|default_if_none:"" }}</input>
        </div>
        <div style="display:flex;" class="form-group">
          <a href="{% url 'password_reset' %}" style="margin-left: auto; margin-right: 0px;">forgot password?</a>
        </div>
        <div style="display:flex;" class="form-group">
          <button type="submit" value="login" class="btn btn-info btn-lg form-submit">Submit</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </div>
    </div>
  </form>
{% endblock %}
