{% extends "default.html" %}

{% block title %}<title>Reset Password</title>{% endblock %}

{% block static %}
  {{ block.super }}
  {% load static %}

  <!-- redirect user if already logged in -->
  {% if user.is_authenticated %}
    <script>window.location.href = "/newick/"</script>
  {% endif %}

  <link href="{% static 'newick/css/accountStyle.css' %}" rel="stylesheet">
  <script src="{% static 'newick/js/accountScript.js' %}"></script>
{% endblock %}

{% block mainContent %}
  <div class="form form-md">
    <div class="form-header">Password has been reset!</div>
    <div class="form-body">
      <p>Redirecting in 3 seconds.</p>
      <script>redirect(3000, '/newick/');</script>
    </div>
  </div>
{% endblock %}
