{% extends "default.html" %}

{% block title %}<title>Reset Password</title>{% endblock %}

{% block static %}
  {{ block.super }}
  {% load static %}

  <!-- redirect user if already logged in -->
  {% if user.is_authenticated %}
    <script>window.location.href = "/newick/"</script>
  {% endif %}

  <link href="{% static 'newick/css/accountStyle.css' %}" rel="stylesheet">
  <script src="{% static 'newick/js/accountScript.js' %}"></script>
{% endblock %}

{% block mainContent %}
  <div class="form form-md">
    <div class="form-header">Reset Password</div>
    <div class="form-body">
      <p>Email has been sent. To reset password, please follow instructions in the email.</p>
    </div>
  </div>
{% endblock %}
