{% extends "newick/samples.html" %}

{% block static %}
  {{ block.super }}
  {% load leaflet_tags %}
  {% leaflet_css %}
  {% leaflet_js %}
  {% load static %}

  <script src="{% static '/newick/js/azCov.js'%}"></script>
  <script src="{% static '/newick/js/covTrees.js'%}"></script>
  <script src="{% static '/plotly.js/dist/plotly.min.js' %}"></script>
  <script src="{% static '/phylocanvas/phylocanvas.js' %}"></script>
  <style>
    .leaflet-container {  /* all maps */
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .mapIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #000;
    }
    .legend {
      line-height: 18px;
      background-color: white;
      padding: 15px;
      border-radius: 5px;
      color: #555;
    }
    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }
  </style>


  <!--====================================================================================================( SCRIPTS )-->
  <script>
    window.addEventListener("map:init", function (e) {
      //=========================( Initialize and Update Phylocanvas )
      //----- load cov tree
      tree = Phylocanvas.default.createTree('phylocanvas')
      tree.load = (function() {
        var cached = tree.load;
        return function() {
          var result = cached.apply(this, arguments)
          tree.baseNodeSize = 2
          tree.setTreeType('rectangular')
          tree.showBranchLengthLabels = true
          tree.setTitle(" ")
          setTimeout(function() {
            window.dispatchEvent(new Event('resize'));
          }, 0);
          return result
        }
      })()
      tree.load(covTrees["bestsnp"])

      //=========================( Initialize and Update Map )
      var activeMapType = "county"
      var activeMapColor = "samples"

      //----- map color code
      function getColor(d, max) {
        return d > getScale(7, max) ? '#008026' :
               d > getScale(6, max) ? '#00BD26' :
               d > getScale(5, max)  ? '#1AE31C' :
               d > getScale(4, max)  ? '#4EFC2A' :
               d > getScale(3, max)  ? '#8DFD3C' :
               d > getScale(2, max)   ? '#B2FE4C' :
               d > getScale(1, max)   ? '#D9FE76' :
                                   '#EDFFA0';
      }

      function getScale(d, max) {
        if (max <= 1) {
          console.log("1color:",parseInt(max*(0.75**d)*100))
          return parseInt(max*(0.75**d)*100)
        } else {
          console.log("100color:",parseInt(max*(0.5**d)))
          return parseInt(max*(0.5**d))
        }
      }

      detail = e.detail;
      //----- add grey and dark heat layers to map
      var baseLayers = {
        "Grey": L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}', {'attribution': 'Esri &mdash; Esri, DeLorme, NAVTEQ', 'maxZoom': 16}),
        "Dark Grey": L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Dark_Gray_Base/MapServer/tile/{z}/{y}/{x}', {'attribution': 'Esri &mdash; Esri, DeLorme, NAVTEQ', 'maxZoom': 16}),
      };
      L.control.layers(baseLayers, null).addTo(detail.map);
      detail.map.addLayer(baseLayers["Grey"])

      //----- add all polygon and icon map data
      var covLayers = new Object();
      for (let hash in azCov) {
        covLayers[hash] = new Object();
        for (let district in azCov[hash]) {
          // get positive/tested
          let tested = 0
          let positive = 0
          for (let test in azCov[hash][district]["tested"]) {
            tested += 1
            if (azCov[hash][district]["tested"][test][3] == "+") {
              positive += 1
            }    
          }

          // add polygon to map
          covLayers[hash][district] = new Object();
          covLayers[hash][district]["polygon"] = L.polygon(azCov[hash][district]["polygon"], {
            title: district,
            clickable: false,
            opacity: 0.75,
            color: "#555",
            weight: 1,
            fillColor: getColor(positive),
            fillOpacity: 1
          })

          // mouseover fill display
          covLayers[hash][district]["polygon"].addEventListener("click", function () {
            let stats = ["Name: " + district, "Population: " + azCov[hash][district]["population"]]
            for (let zip5 in azCov[hash][district]["zip5"]) {
              let zipPositive = 0;
              let zipTested = 0;
              for (let test in azCov[hash][district]["zip5"][zip5]["tested"]) {
                zipTested += 1
                if (azCov[hash][district]["zip5"][zip5]["tested"][test][3] == "+") {
                  zipPositive += 1;
                }
              }
              if (zipPositive > 0) {
                stats.push(zip5 + ": " + String(zipPositive) + "/" + String(zipTested))
              }
            }
            document.getElementById("covStats").innerHTML = stats.join("</br>")
          });
          
          // add icon to map
          let icon = L.divIcon({
            className: "mapIcon",
            iconSize: [75, 75],
            html: district + "</br>" + azCov[hash][district]["population"] + "</br>" + String(positive) + "/" + String(tested)
          });
          covLayers[hash][district]["icon"] = L.marker(azCov[hash][district]["average"], {
            icon: icon,
            interactive: false
          });
        }
      }

      //----- add markers to map on click
      for (let drop of document.getElementsByClassName("covMapButton-type")) {
        drop.addEventListener("click", function (e) {
          document.getElementById("covStats").innerHTML = ""
          activeMapType = e.target.innerHTML
          refreshMapPolygons();
        });
      }

      //----- add color code legend
      var legend = L.control({position: 'bottomright'});
      legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'info legend'),
        grades = [0, 1, 5, 10, 20, 50, 100, 200],
        labels = [];
        // loop through our density intervals and generate a label with a colored square for each interval
        for (var i = 0; i < grades.length; i++) {
          div.innerHTML += '<i style="background:' + getColor(grades[i] + 1, 200) + '"></i> ' + grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
        }
        return div;
      };

      //----- change colorscheme on click
      for (let drop of document.getElementsByClassName("covMapButton-color")) {
        drop.addEventListener("click", function (e) {
          document.getElementById("covStats").innerHTML = ""
          activeMapColor = e.target.innerHTML.split(" ")[e.target.innerHTML.split(" ").length - 1].toLowerCase()
          console.log(activeMapColor)

          for (let hash in covLayers) {
            for (let district in covLayers[hash]) {
              let positive = 0
              let tested = 0
              for (let test in azCov[hash][district]["tested"]) {
                tested += 1
                if (azCov[hash][district]["tested"][test][3] == "+") {
                  positive += 1
                }    
              }
              if (activeMapColor == "samples") {
                covLayers[hash][district]["polygon"]["options"]["fillColor"] = getColor(tested)
              } else if (activeMapColor == "positive") {
                covLayers[hash][district]["polygon"]["options"]["fillColor"] = getColor(positive)
              } else {
                covLayers[hash][district]["polygon"]["options"]["fillColor"] = getColor(positive/tested)
              }
            }
          }
          refreshMapPolygons();
        });
      }

      //----- show currently selected polygons
      function refreshMapPolygons() {
        for (let hash in covLayers) {
          for (let district in covLayers[hash]) {
            detail.map.removeLayer(covLayers[hash][district]["polygon"])
            detail.map.removeLayer(covLayers[hash][district]["icon"])
          }
        }
        for (let hash of Object.keys(covLayers).filter(x => x.indexOf(activeMapType) >= 0)) {
          for (let district in covLayers[hash]) {
            detail.map.addLayer(covLayers[hash][district]["polygon"])
            detail.map.addLayer(covLayers[hash][district]["icon"])
          }
        }
        detail.map.removeControl(legend)
        detail.map.addControl(legend)
      }
      refreshMapPolygons();

      //----- add all plotly plots
      let covDate = new Object();
      let covAge = new Object();
      let covGender = new Object();
      for (let hash in covLayers){
        for (let district in covLayers[hash]) {
          for (let test of azCov[hash][district]["tested"].filter(x => x[3] == "+")) {
            // add keys if not in hash tables
            if (Object.keys(covDate).indexOf(test[0]) == -1) {covDate[test[0]] = 0}
            if (Object.keys(covAge).indexOf(test[1]) == -1) {covAge[test[1]] = 0; console.log(test[1])}
            if (Object.keys(covGender).indexOf(test[2]) == -1) {covGender[test[2]] = 0}
            covDate[test[0]] += 1
            covAge[test[1]] += 1
            covGender[test[2]] += 1
          }
        }
      }

      //----- plot all plotly plot data to plotly plots
      var covConfig = {responsive: true}
      // date
      let dateX = []
      let dateY = []
      let dateLayout = {
        autosize: true,
        height: 200,
        margin: {t: 0, b: 30, l: 40, r: 20}
      }
      for (let entry of Object.entries(covDate).sort()) {
        dateX.push(entry[0])
        dateY.push(entry[1])
      }
      let dateData = [{
        x: dateX,
        y: dateY,
        type: 'bar',
        name: "positive"
      }]
      Plotly.newPlot('covDatePlot', dateData, dateLayout, covConfig)

      // age
      let ageX = []
      let ageY = []
      let ageLayout = {
        autosize: true,
        height: 200,
        margin: {t: 0, b: 30, l: 40, r: 20},
        xaxis: {type: "category"}
      }
      for (let ageRange of ["<5", "5-19", "20-44", "44-54", "55-64", "65>"]) {
        let entry = [ageRange, covAge[ageRange]]
        ageX.push(entry[0])
        ageY.push(entry[1])
      }
      let ageData = [{
        x: ageX,
        y: ageY,
        type: 'bar',
        name: "positive"
      }]
      Plotly.newPlot('covAgePlot', ageData, ageLayout, covConfig)

      // gender
      let genderX = []
      let genderY = []
      let genderLayout = {
        autosize: true,
        height: 200,
        margin: {t: 0, b: 30, l: 40, r: 20},
      }
      for (let entry of Object.entries(covGender).sort()) {
        genderX.push(entry[0])
        genderY.push(entry[1])
      }
      let genderData = [{
        labels: genderX,
        values: genderY,
        type: 'pie',
        name: "positive"
      }]
      Plotly.newPlot('covGenderPlot', genderData, genderLayout, covConfig)

    }, false);

    //=========================( Wait For Page Load )
    document.onreadystatechange = function () {
      if (document.readyState === 'complete') {
        //----- option button
        document.getElementsByClassName('biomod-options-icon')[0].addEventListener('click', function() {
          document.getElementsByClassName('biomod-options')[0].classList.toggle('tog');
          window.dispatchEvent(new Event('resize'));
        })
        window.dispatchEvent(new Event('resize'));
      }
    }
  </script>

{% endblock %}

{% block BioMod %}

  <div class="biomod biomod-container">
    <!--====================================================================================================( OPTIONS MENU )-->
    <div class="biomod biomod-options">
      <div class="biomod biomod-options-module">
        <h5>Map Type:</h5>
        <button type="button" class="btn btn-primary covMapButton-type">region</button>
        <button type="button" class="btn btn-primary covMapButton-type">county</button>
        <button type="button" class="btn btn-primary covMapButton-type">zip3</button>
      </div>
      <div class="biomod biomod-options-module">
        <h5>Color By:</h5>
        <button type="button" class="btn btn-primary covMapButton-color"># of Samples</button>
        <button type="button" class="btn btn-primary covMapButton-color"># of Positive</button>
        <button type="button" class="btn btn-primary covMapButton-color"># Positive / Tested</button>
      </div>
    </div>

    <!--====================================================================================================( MAIN CONTENT )-->
    <div class="biomod biomod-content">
      <div class="biomod biomod-row">
        <div class="biomod biomod-options-icon"><img src="{% static '/newick/images/options.png' %}"></div>

        <div class="biomod biomod-module" id="phylocanvas" style="flex-grow: 3;"></div>
        <div class="biomod biomod-module" style="flex-grow: 5;">
          {% leaflet_map "main" %}
        </div>
        <div class="biomod biomod-module" style="position: relative; overflow: scroll; flex-grow: 1;">
          <div id="covStats" style="margin: 5px;position: absolute;"></div>
        </div>
      </div>
      <div class="biomod biomod-row" style="flex-grow: 0">
        <div class="biomod biomod-module" style="flex-grow: 2;">
          date:
          <div id="covDatePlot"></div>
        </div>
        <div class="biomod biomod-module">
          age:
          <div id="covAgePlot"></div>
        </div>
        <div class="biomod biomod-module">
          gender:
          <div id="covGenderPlot"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}




















