{% extends "newick/samples.html" %}

{% block static %}
  {{ block.super }}
  {% load leaflet_tags %}
  {% leaflet_css %}
  {% leaflet_js %}
  {% load static %}

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css">
  <link rel="stylesheet" href="{% static '/newick/css/gas.css' %}">
  <link rel="stylesheet" href="{% static '/jQRangeSlider/css/classic.css' %}" type="text/css"></link>

  <!-- Javascript -->
  <script src="{% static '/newick/js/covMetaTable.js'%}"></script>
  <script src="{% static '/newick/js/gisTrees.js' %}"></script>
  <script src="{% static '/newick/js/gas.js' %}"></script>
  <script src="{% static '/phylocanvas/phylocanvas.js' %}"></script>
  <script src="{% static '/jquery/jquery-1.10.2.min.js' %}"></script>
  <script src="{% static '/jquery/jquery-ui.min.js' %}"></script>
  <script src="{% static '/jQRangeSlider/jQAllRangeSliders-min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>

  <!--====================================================================================================( SCRIPTS )-->
  <script>
    window.addEventListener("resize", function() {
      setTimeout(function() {
        sampleFontFunc('name', rangeSelect(document.getElementById("nameFontDrop" + document.getElementById("nameFontBtn").innerHTML)))
        sampleFontFunc('size', rangeSelect(document.getElementById("snpFontDrop" + document.getElementById("snpFontBtn").innerHTML)))
        sampleFontFunc('branch', rangeSelect(document.getElementById("branchScaleDrop" + document.getElementById("branchScaleBtn").innerHTML)))
      }, 0);
    });

    //=========================( Wait For Page Load )
    document.onreadystatechange = function () {
      if (document.readyState === 'complete') {
        //----- option button
        document.getElementsByClassName('biomod-options-icon')[0].addEventListener('click', function() {
          document.getElementsByClassName('biomod-options')[0].classList.toggle('tog');
          window.dispatchEvent(new Event('resize'));
        })

        //=========================( Initialize and Update Phylocanvas )
        //----- load cov tree
        tree = Phylocanvas.default.createTree('phylocanvas')
        tree.load = (function() {
          var cached = tree.load;
          return function() {
            var result = cached.apply(this, arguments)
            tree.baseNodeSize = 2
            tree.setTreeType('rectangular')
            tree.showBranchLengthLabels = true
            sampleFontFunc('name', rangeSelect(document.getElementById("nameFontDrop" + document.getElementById("nameFontBtn").innerHTML)))
            sampleFontFunc('size', rangeSelect(document.getElementById("snpFontDrop" + document.getElementById("snpFontBtn").innerHTML)))
            sampleFontFunc('branch', rangeSelect(document.getElementById("branchScaleDrop" + document.getElementById("branchScaleBtn").innerHTML)))
            updateSampleNames()
            highlightSamples()
            return result
          }
        })()

        //----- 
        resetLineageDropdown()


      }
    }
  </script>
{% endblock %}

{% block BioMod %}
  <div class="biomod biomod-container">
    <!--====================================================================================================( OPTIONS MENU )-->
    <div class="biomod biomod-options">

      <!--=========================( Emm Type Dropdown )-->
      <div class="biomod biomod-options-module">
        <h5>Tree Type:</h5>
        <div class="dropdown">
          <button id="treeTypeButton" class="btn btn-lg btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TGEN</button>
          <div id="treeTypeDropdown" class="dropdown-menu btn-block"></div>
        </div>
        <h5>Lineage:</h5>
        <div class="dropdown">
          <button id="treeLineageButton" class="btn btn-lg btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div id="treeLineageDropdown" class="dropdown-menu btn-block" style="max-height: 250px; overflow-y: scroll">
          </div>
        </div>
      </div>
      <script>
        for (let type of Object.keys(trees)) {
          document.getElementById("treeTypeDropdown").innerHTML += "<button type='button' class='dropdown-item' onclick=\"document.getElementById('treeTypeButton').innerHTML = '" + type + "'; resetLineageDropdown();\">" + type + "</button>"
        }
      </script>

      <!--=========================( Metadata Toggle )-->
      <div class="biomod biomod-options-module">
        <h5>Metadata:</h5>
        <div style="display: flex; justify-content: flex-end; width: 100%; max-height: 100px;">
          <div id="metadataList" style="display: flex; flex-flow: column; width: 90%; overflow-y: scroll"></div>
        </div>
      </div>
      <script>
        for (let meta of Object.keys(metadata[Object.keys(metadata)[0]])) {
          document.getElementById("metadataList").innerHTML += "<div><input id='meta_" + meta + "' type='checkbox' oninput='updateSampleNames()'> " + meta + "</input></div>"
        }
      </script>

      <!--=========================( Highlight )-->
      <div class="biomod biomod-options-module">
        <h5 style="color:#F66;">Highlight:</h5>
        <form onsubmit="return false;" style="margin: 5px;">
          <div class="form-group">
            <input type="text" class="form-control" id="highlightCounty" placeholder="" oninput="highlightSamples()">
          </div>
        </form>
      </div>
      <script>
        function highlightSamples() {
          let value = document.getElementById("highlightCounty").value
          for (let leaf of tree.leaves.filter(x => x.markStyle["primary"] === true)) {
            leaf.markStyle["primary"] = false
          }   
          for (let leaf of tree.leaves.filter(x => Object.keys(metadata).indexOf(x.id) >= 0 && metadata[x.id]["location"].toLowerCase().indexOf(value.toLowerCase()) >= 0)) {
            if (value) {
              leaf.markStyle["primary"] = true
              console.log(leaf.id)
            }
          }
          tree.draw()
          console.log(value)
        }
      </script>


      <!--=========================( New Sample Highlight Range )-->
      <div style="display: none;" class="biomod biomod-options-module">
        <h5>New Sample Range:</h5>
        <div style="display: flex; justify-content: flex-end; width: 100%;">
          <div style="width: 90%;" class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-primary" onclick="sampleRangeFunc(rangeArrow(this, 'left'))">&#8592;</button>
            <div class="btn-group dropdown btn-block">
              <button class="btn btn-lg btn-block btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">1 Month</button>
              <div class="dropdown-menu btn-block">
                {% for i in n|rjust:"12" %}
                <button type="button" class="dropdown-item" onclick="sampleRangeFunc(rangeSelect(this))">{{ forloop.counter }} Month{% if forloop.counter >= 2 %}s{% endif %}</button>
                {% endfor %}
              </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="sampleRangeFunc(rangeArrow(this, 'right'))">&#8594;</button>
          </div>
        </div>
      </div>

      <!--=========================( Custer Detection Range Selection )-->
      <div class="biomod biomod-options-module">
        <h5>Cluster Detection:</h5>
        <div style="font-size:14px;">Number of SNPs</div>
        <div style="display: flex; justify-content: flex-end; width: 100%;">
          <div style="width: 90%;" class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-primary" onclick="clusterSnpsFunc(rangeArrow(this, 'left'))">&#8592;</button>
            <div class="btn-group dropdown btn-block">
              <button id="clusterSnpsDropdown" class="btn btn-lg btn-block btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">0 SNPs</button>
              <div class="dropdown-menu btn-block">
                {% for i in n|rjust:"11" %}
                  <button type="button" class="dropdown-item" onclick="clusterSnpsFunc(rangeSelect(this))">{{ forloop.counter|add:-1 }} SNP{% if forloop.counter|add:-1 != 1 %}s{% endif %}</button>
                {% endfor %}
              </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="clusterSnpsFunc(rangeArrow(this, 'right'))">&#8594;</button>
          </div>
        </div>
        <div style="font-size:14px;">Number of Samples in Cluster</div>
        <div style="display: flex; justify-content: flex-end; width: 100%;">
          <div style="width: 90%;" class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-primary" onclick="clusterSamplesFunc(rangeArrow(this, 'left'))">&#8592;</button>
            <div class="btn-group dropdown btn-block">
              <button id="clusterSamplesDropdown" class="btn btn-lg btn-block btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">2 Samples</button>
              <div class="dropdown-menu btn-block">
                {% for i in n|rjust:"9" %}
                  <button type="button" class="dropdown-item" onclick="clusterSamplesFunc(rangeSelect(this))">{{ forloop.counter|add:1 }} Sample{% if forloop.counter|add:2 >= 2 %}s{% endif %}</button>
                {% endfor %}
              </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="clusterSamplesFunc(rangeArrow(this, 'right'))">&#8594;</button>
          </div>
        </div>
        <div id="clusterContext"></div>
      </div>

      <!--=========================( Phylogeny Options Menu )-->
      <div class="biomod biomod-options-module">
        <h5>Sample Name Font Size:</h5>
        <div style="display: flex; justify-content: flex-end; width: 100%;">
          <div style="width: 90%;" class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-primary" onclick="sampleFontFunc('name', rangeArrow(this, 'left'))">&#8592;</button>
            <div class="btn-group dropdown btn-block">
              <button id="nameFontBtn" class="btn btn-lg btn-block btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">4</button>
              <div class="dropdown-menu btn-block">
                {% for i in n|rjust:"10" %}
                  <button id="nameFontDrop{{ forloop.counter }}" type="button" class="dropdown-item" onclick="sampleFontFunc('name', rangeSelect(this))">{{ forloop.counter }}</button>
                {% endfor %}
              </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="sampleFontFunc('name', rangeArrow(this, 'right'))">&#8594;</button>
          </div>
        </div>
        <h5>SNP Font Size:</h5>
        <div style="display: flex; justify-content: flex-end; width: 100%;">
          <div style="width: 90%;" class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-primary" onclick="sampleFontFunc('size', rangeArrow(this, 'left'))">&#8592;</button>
            <div class="btn-group dropdown btn-block">
              <button id="snpFontBtn" class="btn btn-lg btn-block btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">4</button>
              <div class="dropdown-menu btn-block">
                {% for i in n|rjust:"10" %}
                  <button id="snpFontDrop{{ forloop.counter }}" type="button" class="dropdown-item" onclick="sampleFontFunc('size', rangeSelect(this))">{{ forloop.counter }}</button>
                {% endfor %}
              </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="sampleFontFunc('size', rangeArrow(this, 'right'))">&#8594;</button>
          </div>
        </div>
        <h5>Branch Scale:</h5>
        <div style="display: flex; justify-content: flex-end; width: 100%;">
          <div style="width: 90%;" class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-primary" onclick="sampleFontFunc('branch', rangeArrow(this, 'left'))">&#8592;</button>
            <div class="btn-group dropdown btn-block">
              <button id="branchScaleBtn" class="btn btn-lg btn-block btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">4</button>
              <div class="dropdown-menu btn-block">
                {% for i in n|rjust:"10" %}
                  <button id="branchScaleDrop{{ forloop.counter }}" type="button" class="dropdown-item" onclick="sampleFontFunc('branch', rangeSelect(this))">{{ forloop.counter }}</button>
                {% endfor %}
              </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="sampleFontFunc('branch', rangeArrow(this, 'right'))">&#8594;</button>
          </div>
        </div>
      </div>
    </div>

    <script>
    function rangeSelect(obj) {
      let drop = obj.parentNode.parentNode.getElementsByClassName("btn")[0]
      let index = Object.values(obj.parentNode.getElementsByClassName("dropdown-item")).map(x => x.innerHTML).indexOf(obj.innerHTML)
      drop.innerHTML = obj.innerHTML
      return index
    }   
    function rangeArrow(obj, str) {
      let dropList = obj.parentNode.getElementsByClassName("dropdown")[0]
      let drop = dropList.getElementsByClassName("btn")[0]
      dropList = Object.values(dropList.getElementsByClassName("dropdown-item"))
      let index = dropList.map(x => x.innerHTML).indexOf(drop.innerHTML)
      index = (str === "left" ? index - 1 : index + 1)
      try {
        drop.innerHTML = dropList[index].innerHTML
        return index
      } catch {}
    }   
    function sampleRangeFunc(str) {
      if (typeof str !== "undefined") {
        newRange = parseInt(str) + 1 
        addMarks()
      }   
    }   
    function treeDateFunc(str) {
      if (typeof str !== "undefined") {
        tree.draw();
        treeDate = Object.keys(trees[treeType])[str]
        resetM(Object.keys(trees[treeType][treeDate])[0])
      }   
    }   
    function clusterSnpsFunc(str) {
      if (typeof str !== "undefined") {
        let dropDown = document.getElementById("clusterSnpsDropdown")
        dropDown.innerHTML = dropDown.parentNode.getElementsByClassName("dropdown-item")[str].innerHTML
        updateClusterContext()
      }   
    }   
    function clusterSamplesFunc(str) {
      if (typeof str !== "undefined") {
        let dropDown = document.getElementById("clusterSamplesDropdown")
        dropDown.innerHTML = dropDown.parentNode.getElementsByClassName("dropdown-item")[str].innerHTML
        updateClusterContext()
      }   
    }   

    function updateClusterContext() {
      let clusterSnps = document.getElementById("clusterSnpsDropdown")
      clusterSnps = clusterSnps.innerHTML.split(" ")[0]
      let clusterSamples = document.getElementById("clusterSamplesDropdown")
      clusterSamples = clusterSamples.innerHTML.split(" ")[0]
      clusters = tree.getClusters(clusterSnps, clusterSamples)
      document.getElementById("clusterContext").innerHTML = "<div id='newClusters'>Clusters: " + Object.keys(clusters).length + "</div><div></div>"
      document.getElementById("newClusters").addEventListener('click', function() {
        getClusters(clusters)
        tree.draw()
      })  
    } 
    function sampleFontFunc(type, value) {
      if (typeof value != "undefined") {
        value += 1;
        switch(type) {
          case 'name':
            value *= 5
            tree.textSize = value;
            break;
          case 'size':
            value *= 5
            tree.canvas.font = value + 'px ' + tree.canvas.font.split(' ')[1];
            break;
          case 'branch':
            value *= 2
            tree.branchScalar = value/tree.maxBranchLength*200
        }
        tree.draw()
      }
    }

    function resetLineageDropdown() {
      document.getElementById("treeLineageDropdown").innerHTML = ""
      for (let index of Object.keys(trees[document.getElementById("treeTypeButton").innerHTML]).sort()) {
        document.getElementById("treeLineageDropdown").innerHTML += "<button type='button' class='dropdown-item' onclick='document.getElementById(\"treeLineageButton\").innerHTML = \"" + index + "\"; loadTree();'>" + index + "</button>"
      }
      document.getElementById("treeLineageButton").innerHTML = Object.keys(trees[document.getElementById("treeTypeButton").innerHTML]).sort()[0]
      console.log(document.getElementById("treeTypeButton").innerHTML, document.getElementById("treeLineageButton").innerHTML)
      loadTree();
    }

    function loadTree() {
      tree.load(trees[document.getElementById("treeTypeButton").innerHTML][document.getElementById("treeLineageButton").innerHTML])
      tree.setTitle(document.getElementById("treeTypeButton").innerHTML + "::" + document.getElementById("treeLineageButton").innerHTML)
      updateClusterContext()
      tree.draw()
    }

    function getAZ() {


/*

      for (let leaf of tree.leaves.filter(x => x.markStyle["info"] === true)) {
        leaf.markStyle["info"] = false
      }   
      let azResults = document.getElementById("azResults")
      azResults.innerHTML = ""

      for (let leaf of tree.leaves.filter(x => document.getElementById("azNumber").value && covMeta["RNAcode"].filter(y => covMeta["RNAcode"][y].indexOf(x.id) >= 0).indexOf(document.getElementById("azNumber").value) >= 0)) {
        leaf.markStyle["info"] = true
      }   

      for (let az of covMeta["RNAcode"].filter(x => document.getElementById("azNumber").value && x.indexOf(document.getElementById("azNumber").value) >= 0).sort(function(a, b) {if (a[0] - b[0]) {return 1} else if (a[0] <= b[0]) {return -1}}          )) {    
        m = Object.entries(trees[treeType][treeDate][Object.keys(trees[treeType][treeDate])[0]]).filter(x => x[0] !== "ALL" && x[1].indexOf(az.pk) >= 0)[0]
        if (m) {
          let emm = m[0].split("M")[1].split("::")[0]
          azResults.innerHTML += "<div class='azResults' onclick='loadAzTree(\"" + m[0] + "\"); tree.draw()'>" + az.fields["az"] + " --> emm" + emm + "</div>"
        }
      }     

      tree.draw()
    }     

    function loadAzTree(m) {
      tree.load(trees[treeType][treeDate][Object.keys(trees[treeType][treeDate])[0]][m])
*/
    }

    function updateSampleNames() {
      for (let leaf of tree.leaves) {
        if (Object.keys(metadata).indexOf(leaf.id) >= 0) {
          let newLabel = [leaf.id]
          for (let meta in metadata[leaf.id]) {
            if (document.getElementById("meta_" + meta).checked) {
              newLabel.push(metadata[leaf.id][meta])
            }
          }
          leaf.label = newLabel.join("_")
          tree.draw()
        }
      }
    }

    </script>

    <!--====================================================================================================( MAIN CONTENT )-->
    <div class="biomod biomod-content">
      <div class="biomod biomod-row" style="flex-grow: 7">
        <div class="biomod biomod-options-icon"><img src="{% static '/newick/images/options.png' %}"></div>
        <div class="biomod biomod-module" id="phylocanvas"></div>
      </div>
    </div>
  </div>

{% endblock %}
