.form {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 1px 6px #aaa ;
  overflow: hidden;
}

.form.form-sm {
  width: 350px;
}

.form.form-md {
  width: 450px;
}

.form.form-lg {
  width: 600px;
}

.form.form-xl {
  width: 1000px;
}

.form-header {
  color: white;
  background-color: #00a4c4;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
}

.form-body {
  padding: 10px 15px 10px 15px;
}

.form-submit {
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.form-drop {
  border-width: 2px;
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  text-align: center;
}

.error {
  color: #dd0000;
}

.errorlist {
  color: #dd0000;
  list-style: none;
  padding: 0px;
}
