{% extends "newick/samples.html" %}

{% block content %}

  <form method="post" action="">                                                                                                             
    {% csrf_token %}
    <div class="form form-lg">
      <div class="form-header">Add Sample</div>
      <div class="form-body">
        <div class="form-group" style="display: flex;">
          <label for="sampleNameInput" style="min-width: 120px;">Sample Name:</label>
          <input type="text" class="form-control form-control-sm" id="sampleNameInput"></input>
        </div>
        <div class="form-group" style="display: flex;">
          <label for="sampleAddressInput" style="min-width: 120px;">Address:</label>
          <input type="text" class="form-control form-control-sm" id="sampleAddressInput"></input>
        </div>
        <div class="form-group" style="display: flex;">
          <label for="samplePathogenInput" style="min-width: 120px;">Pathogen:</label>
          <select class="form-control form-control-sm" id="samplePathogenInput">
            {% for pathogen in samplesAdd.pathogens %}
              <option>{{ pathogen }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group" style="display: flex;">
          <label for="sequenceFileInput" style="min-width: 120px;">Sequence File:</label>
          <input type="file" class="form-control-file form-control-sm" id="sequenceFileInput"></input>
        </div>
        <div style="display:flex;" class="form-group">
          <button type="submit" class="btn btn-info btn-lg form-submit">Add</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
