{% extends "demo/demo.html" %}

{% block static %}
  {{ block.super }}
  {% load leaflet_tags %}
  {% leaflet_css %}
  {% leaflet_js %}
  {% load static %}

  <!-- CSS -->
  <link rel="stylesheet" href="{% static '/newick/css/PCA.css' %}"></link>

  <!-- Javascript -->
  <script src="{% static '/newick/js/countyCoordinates.js' %}"></script>
  <script src="{% static '/newick/js/pcaCoordinates.js' %}"></script>
  <script src="{% static '/newick/js/colorPalette.js' %}"></script>
  <script src="{% static '/newick/js/trees.js' %}"></script>
  <script src="{% static '/newick/js/mapAZ.js' %}"></script>
  <script src="{% static '/phylocanvas/phylocanvas.js' %}"></script>
  <script src="{% static '/leaflet/leaflet-svgicon/demoAntibiogram-svg-icon.js' %}"></script>
  <script>
    // load database
    var DB = {{ demoGAS | safe }}
    var levels = ["state", "region", "county", "pca"]
    var mapFunctions = []
    var groups = []
    {% for group in user.groups.all %}
      groups.push("{{ group.name }}")
    {% endfor %}

    function fullDraw() {
      for (var branch in tree.branches) {
        //console.log(DB.gas[branch], branch)
        if (DB.gas[branch] && groups.indexOf(DB.gas[branch].facility) >= 0) { 
          tree.branches[branch].colour = "red"
        }
      }
      tree.draw()
    }

  </script>
{% endblock %}

{% block sideContent %}
  Master Reference:
  <div class="dropdown">
    <button id="masterButton" class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div id="masterDropdown" class="dropdown-menu">
    </div>
  </div>
  </br>

  M-Type:
  <div class="dropdown">
    <button id="gasMtypeButton" class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div id="gasMtypeDropdown" class="dropdown-menu">
    </div>
  </div>
  </br>

<!--
  Display By:
  <div class="dropdown">
    <button id="gasDisplay" class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Default</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" onclick="document.getElementById('gasDisplay').innerHTML = 'Default';">Default</a>
      <a class="dropdown-item" onclick="document.getElementById('gasDisplay').innerHTML = 'M-Type';">M-Type</a>
      <a class="dropdown-item" onclick="document.getElementById('gasDisplay').innerHTML = 'Map View';">Map View</a>
    </div>
  </div>
  </br>
-->

  Reports:
  <div class="dropdown">
    <button id="reportsButton" class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div id="reportsDropdown" class="dropdown-menu dropdown-menu-right">
      <a class='dropdown-item'>Unidentified M-Types</a>
      <a class='dropdown-item'>Missing Dates</a>
      <a class='dropdown-item'>My Samples</a>
      <a class='dropdown-item'>Outbreak Monitor</a>
    </div>
  </div>
  </br>

  Zoom:
  <input style="width:100%" type="range" min=1 max=20 value=1 oninput="tree.zoom = this.value/10; tree.draw()">
  </br>

  Base Node Size:
  <input style="width:100%" type="range" min=0 max=50 value=0 oninput="tree.baseNodeSize = this.value/2; tree.draw()">
  </br>

  Leaf Text Size:
  <input style="width:100%" type="range" min=1 max=50 value=1 oninput="tree.textSize = this.value; tree.draw()">
  </br>

  Branch Text Size:
  <input style="width:100%" type="range" min=1 max=50 value=1 oninput="tree.canvas.font = this.value + 'px ' + tree.canvas.font.split(' ')[1]; tree.draw()">
  </br>

  Branch Scale:
  <input style="width:100%" type="range" min=1 max=20 value=1 oninput="tree.branchScalar = this.value/tree.maxBranchLength*200; tree.draw()">
  </br>

  Line Width:
  <input style="width:100%" type="range" min=1 max=20 value=1 oninput="tree.lineWidth = this.value/2; tree.draw()">
  </br>

{% endblock %}

{% block mainContent %}
  <div class="mainContent">
    <div style="width: 0%; margin-right: 10px;">
      {% leaflet_map "main" %}
    </div>
    <div id="phylocanvas" style="width: 100%; background-color: white; overflow-y: scroll;"></div>
    <style>#phylocanvas {width: 100%; height: 800px;}</style>
    <script>
      var tree = Phylocanvas.default.createTree('phylocanvas')
      tree.baseNodeSize = 2
      tree.setTreeType('rectangular')
      tree.showBranchLengthLabels = true
      for (var i in trees) {
        document.getElementById("masterDropdown").innerHTML += "<a class='dropdown-item' onclick='resetM(\"" + i + "\")'>" + i + "</a>"
      }
      function resetM(i) {
        document.getElementById("masterButton").innerHTML = i
        document.getElementById("gasMtypeButton").innerHTML = "ALL"
        tree.load(trees[i]["ALL"])
        fullDraw()
        document.getElementById("gasMtypeDropdown").innerHTML = ""
        for (var j in trees[i]) {
         document.getElementById("gasMtypeDropdown").innerHTML  += "<a class='dropdown-item' onclick='document.getElementById(\"gasMtypeButton\").innerHTML = \"" + j + "\"; tree.load(\"" + trees[i][j] + "\"); fullDraw()'>" + j + "</a>"
        }
      }
      resetM(Object.keys(trees)[0])

    </script>
  </div>
  <div class="mainContent">
    <table class="table table-bordered table-light">
      <thead>
        <tr>
          <td colspan="100%" style="font-size: 18px;"><center><b><div id="gasHeader">Sample Selection</div></b></center></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="100%"><center><div id="gasBody">decription</div></center></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

