{% extends "demo/demo.html" %}

{% block static %}
  {{ block.super }}
  {% load leaflet_tags %}
  {% leaflet_css %}
  {% leaflet_js %}
  {% load static %}
  <script src="{% static '/newick/js/countyCoordinates.js' %}"></script>
  <script src="{% static '/newick/js/pcaCoordinates.js' %}"></script>
  <script src="{% static '/newick/js/colorPalette.js' %}"></script>
  <script src="{% static '/newick/js/PCA.js' %}"></script>
  <script src="{% static '/leaflet/leaflet-svgicon/demoAntibiogram-svg-icon.js' %}"></script>
  <script src="{% static '/plotly.js/dist/plotly.min.js' %}"></script>
  <style>
    .leaflet-container {
      /* all maps */
      height: 600px;
      width: 100%;
      z-index: 0;
    }
    #popupHover {
      position: fixed;
      z-index: 100;
      left: 100px;
      top: 100px;
    }
    .region {
      font-size: 20px;
      position: absolute;
      text-align: center;
      vertical-align: middle;
    }
    .county {
      font-size: 16px;
      position: absolute;
      text-align: center;
      vertical-align: middle;
    }
    .pca {
      font-size: 12px;
      position: absolute;
      text-align: center;
      vertical-align: middle;
    }
  </style>
  <script>
    // load database
    DB = {{ demoPCA | safe }}
    upImage = '{% static '/newick/images/up.png' %}'
    downImage = '{% static '/newick/images/down.png' %}'
  </script>
{% endblock %}

{% block sideContent %}
  Bacteria
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Enterococcus faecalis</button>
    <div class="dropdown-menu" aria-labelledby="about-us">
    <a class="dropdown-item">Enterococcus faecalis</a>
    <a class="dropdown-item">Staphylococcus aureus</a>
    </div>
  </div>
  </br>

  Drug
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vancomycin</button>
    <div class="dropdown-menu" aria-labelledby="about-us">
    <a class="dropdown-item">Vancomycin</a>
    <a class="dropdown-item">Oxicillin</a>
    </div>
  </div>
  </br>

  n/%
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">n</button>
    <div class="dropdown-menu" aria-labelledby="about-us">
    <a class="dropdown-item">n</a>
    <a class="dropdown-item">%</a>
    </div>
  </div>
  </br>

  Year
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">2013</button>
    <div class="dropdown-menu" aria-labelledby="about-us">
    <a class="dropdown-item">2013</a>
    <a class="dropdown-item">2014</a>
    <a class="dropdown-item">2015</a>
    <a class="dropdown-item">2016</a>
    <a class="dropdown-item">2017</a>
    <a class="dropdown-item">2018</a>
    </div>
  </div>
  </br>

  <input type="range" id="yearScale" min="0" max="0">
{% endblock %}

{% block mainContent %}
  {% leaflet_map "main" %}
  <div id="popupHover">asd</div>
{% endblock %}
