{% extends "demo/demo.html" %}

{% block static %}
  {{ block.super }}
  {% load leaflet_tags %}
  {% leaflet_css %}
  {% leaflet_js %}
  {% load static %}

  <!-- CSS -->
  <link rel="stylesheet" href="{% static '/newick/css/PCA.css' %}"></link>

  <!-- Javascript -->
  <script src="{% static '/newick/js/countyCoordinates.js' %}"></script>
  <script src="{% static '/newick/js/pcaCoordinates.js' %}"></script>
  <script src="{% static '/newick/js/colorPalette.js' %}"></script>
  <script src="{% static '/newick/js/antibiogram.js' %}"></script>
  <script src="{% static '/newick/js/mapAZ.js' %}"></script>
  <script src="{% static '/leaflet/leaflet-svgicon/demoAntibiogram-svg-icon.js' %}"></script>
  <script src="{% static '/plotly.js/dist/plotly.min.js' %}"></script>
  <script>
    // load database
    var DB = {{ demoPCA | safe }}
    var levels = ["region", "county", "pca"]
    var mapFunctions = []
    var upImage = '{% static '/newick/images/up.png' %}'
    var downImage = '{% static '/newick/images/down.png' %}'
  </script>
{% endblock %}

{% block sideContent %}
  Bacteria::Drug
  <div class="dropdown">
    <button id="bacteriaDrug" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ demoPCA.amr.bugDrugs.0 }}</button>
    <div class="dropdown-menu" aria-labelledby="about-us">
    {% for i in demoPCA.amr.bugDrugs %}
      <a class="dropdown-item" onclick="document.getElementById('bacteriaDrug').innerHTML = '{{ i }}'; updateMap()">{{ i }}</a>
    {% endfor %}
    </div>
  </div>
  </br>

  n/%
  <div class="dropdown">
    <button id="n%" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">n</button>
    <div class="dropdown-menu" aria-labelledby="about-us">
    <a class="dropdown-item" onclick="document.getElementById('n%').innerHTML = 'n'; updateMap()">n</a>
    <a class="dropdown-item" onclick="document.getElementById('n%').innerHTML = '%'; updateMap()">%</a>
    </div>
  </div>
  </br>

  Year
  <div class="dropdown">
    <button id="yearScale" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ demoPCA.amr.dates.0 }}</button>
    <div class="dropdown-menu" aria-labelledby="about-us">
    {% for i in demoPCA.amr.dates %}
      <a class="dropdown-item" onclick="document.getElementById('yearScale').innerHTML = '{{ i }}'; updateMap()">{{ i }}</a>
    {% endfor %}
    </div>
  </div>
  </br>

{% endblock %}

{% block mainContent %}
  <div class="mainContent">
    {% leaflet_map "main" %}
  </div>
  <span style="color:white;">
  <div class="mainContent">
    Antibiogram
  </div>
  <div class="mainContent">
    Plotly
  </div>
  </span>
{% endblock %}

