{% extends "demo/demo.html" %}

{% block static %}
  {{ block.super }}
  {% load leaflet_tags %}
  {% leaflet_css %}
  {% leaflet_js %}
  {% load static %}

  <!-- CSS -->
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <link href="{% static '/newick/css/gas.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/jQRangeSlider/css/classic.css' %}" type="text/css"></link>

  <!-- Javascript -->
  <script src="{% static '/newick/js/trees.js' %}"></script>
  <script src="{% static '/phylocanvas/phylocanvas.js' %}"></script>
  <script src="{% static '/jquery/jquery-1.10.2.min.js' %}"></script>
  <script src="{% static '/jquery/jquery-ui.min.js' %}"></script>
  <script src="{% static '/jQRangeSlider/jQAllRangeSliders-min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
  <script>
    // load database
    var DB = {{ demoBioMod | safe }}
    var groups = []
    {% for group in user.groups.all %}
      groups.push("{{ group.name }}")
    {% endfor %}

    newRange = 1

      function addMarks() {
        document.getElementById("newRangeValue").innerHTML = newRange
        for (leaf of tree.leaves) {
          leaf.markStyle["secondary"] = false
          leaf.markStyle["inactive"] = false
        }
        tree.draw()
        //STATE
        if (groups.indexOf("state") >= 0) {
          let today = new Date()
          let recentSamples = []
          for (sample of Object.keys(DB.gas).filter(x => Object.keys(tree.branches).indexOf(x) >= 0)) {
            let sampleDate = new Date(DB.gas[sample]['collectionDate'])
            let monthDelta = parseInt((today.getFullYear() * 12 + today.getMonth()) - (sampleDate.getFullYear() * 12 + sampleDate.getMonth()))
            if (monthDelta <= newRange) {
              recentSamples.push(sample)
            }
          }
          // STATE context windows
          document.getElementById("treeContext1").innerHTML = "<div id='newSamples'>New Samples: " + recentSamples.length + "</div><div>Total Samples: " + tree.leaves.length + "</div><div></div>"
          document.getElementById("newSamples").addEventListener('click', function() {
            for (sample of recentSamples) {
              tree.branches[sample]['markStyle']["secondary"] = true
            }
            tree.draw()
          })
        // FMC
        } else if (groups.indexOf("banner") >= 0) {
          let today = new Date()
          let recentSamples = []
          for (sample of Object.keys(DB.gas).filter(x => String(DB.gas[x]['facility']).includes('Banner') && Object.keys(tree.branches).indexOf(x) >= 0)) {
            let sampleDate = new Date(DB.gas[sample]['collectionDate'])
            let monthDelta = parseInt((today.getFullYear() * 12 + today.getMonth()) - (sampleDate.getFullYear() * 12 + sampleDate.getMonth()))
            if (monthDelta <= newRange) {
              recentSamples.push(sample)
            }
          }
          // STATE context windows
          document.getElementById("treeContext1").innerHTML = "<div id='newSamples'>New Samples: " + recentSamples.length + "</div><div>Total Samples: " + tree.leaves.length + "</div><div></div>"
          document.getElementById("newSamples").addEventListener('click', function() {
            for (sample of recentSamples) {
              tree.branches[sample]['markStyle']["secondary"] = true
            }
            tree.draw()
          })
          for (sample of Object.keys(DB.gas).filter(x => String(DB.gas[x]['facility']).includes('Banner') === false && Object.keys(tree.branches).indexOf(x) >= 0)) {
            tree.branches[sample]['markStyle']["inactive"] = true
          }
          tree.draw();
          // FMC context windows
        }
        //if  (document.getElementById("gasMtypeButton").innerHTML === "ALL") {document.getElementById('treeContext2').innerHTML = "ALL"} else {document.getElementById('treeContext2').innerHTML = "emm" + document.getElementById("gasMtypeButton").innerHTML.split("::")[0].split("M").slice(1)}
      }


    function getCladeXY(master) {
      let cladeBounds = {}
      if (document.getElementById("gasMtypeButton").innerHTML === "ALL") {
        for (clade in trees[treeType][treeDate][master]) {
          cladeBounds[clade] = [Infinity, Infinity, 0]
          sample = []
          for (i of trees[treeType][treeDate][master][clade]) {
            if (['(', ')', ',', ':'].indexOf(i) === -1) {
              sample.push(i)
            } else {
              sample = sample.join("")
              if (Object.keys(tree.branches).filter(x => x.toLowerCase() !== "reference").indexOf(sample) > -1) {
                if (tree.branches[sample]['centerx'] < cladeBounds[clade][0]) {
                  cladeBounds[clade][0] = tree.branches[sample]['centerx']
                }
                if (tree.branches[sample]['centery'] < cladeBounds[clade][1]) {
                  cladeBounds[clade][1] = tree.branches[sample]['centery']
                }
                if (tree.branches[sample]['centery'] > cladeBounds[clade][2]) {
                  cladeBounds[clade][2] = tree.branches[sample]['centery']
                }
              }
              sample = []
            }
          }
          if (cladeBounds[clade][0] < Infinity && cladeBounds[clade][1] < Infinity && cladeBounds[clade][2] > 0) {
            cladeBounds[clade][2] = cladeBounds[clade][2] - cladeBounds[clade][1]
            let shortClade
            if (clade === "ALL") {
              shortClade = "ALL"
            } else {
              shortClade = "emm" + clade.split("::")[0].split("M").slice(1)
            }
            tree.addClade(shortClade, cladeBounds[clade][0], 300, cladeBounds[clade][1], cladeBounds[clade][2], trees[treeType][treeDate][master][clade])
          }
        }
      }
      return cladeBounds
    }

    function updateSampleNames() {
      let fields = Array.from(document.getElementsByClassName("sampleNamesCheck")).filter(x => x.checked).map(x => x.name)
      for (sample of tree.leaves) {
        
        let newName = []
        if (sample['id'].indexOf("-reference") >= 0) {
          sample['id'] = sample['id'].split("-reference")[0]
          newName = ['Reference']
        }
//        if (sample['id'] === document.getElementById('gasMtypeButton').innerHTML.split("::")[1]) {newName = ['Reference']}

        for (field of fields) {
          try {
            if (field === "id") {
              newName.push(sample.id)
            } else if (DB.gas[sample.id][field] === "" ) {
              newName.push("_")
            } else {
              newName.push(DB.gas[sample.id][field])
            }
          } catch {
            newName.push("_")
          }
        }
        sample.label = newName.join("::")
      }
    }

    function fullDraw() {
      tree.setTitle(document.getElementById("gasMtypeButton").innerHTML)
      for (var branch in tree.branches) {
        if (DB.gas[branch] && groups.indexOf(DB.gas[branch].facility) >= 0) { 
          tree.branches[branch].colour = "red"
        }
      }
      updateSampleNames()
      addMarks()
      tree.draw()
    }
  </script>
{% endblock %}

{% block sideContent %}
{% endblock %}

{% block BioMod %}
  <!-- DEVELOPE BIOMOD HERE -->
  <div class="biomod biomod-container">
    <div class="biomod biomod-options">
      <span style="display: none;">
      Master Reference:
      <div class="dropdown">
        <button id="masterButton" class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div id="masterDropdown" class="dropdown-menu">
        </div>
      </div>
      </span>

      emmType:
      <div class="dropdown">
        <button id="gasMtypeButton" class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div id="gasMtypeDropdown" class="dropdown-menu">
        </div>
      </div>

      <div class="dropdown" style="margin-top: 7px">
        <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sample Names</button>
        <div id="samplesDropdown" class="dropdown-menu dropdown-menu">
          &nbsp;<input oninput="fullDraw()" type="checkbox" class="sampleNamesCheck" name="id"> Sample Name&nbsp;<br>
          &nbsp;<input oninput="fullDraw()" type="checkbox" class="sampleNamesCheck" name="tg"> TG Number&nbsp;<br>
          &nbsp;<input oninput="fullDraw()" type="checkbox" class="sampleNamesCheck" name="az" checked> AZ Number&nbsp;<br>
          &nbsp;<input oninput="fullDraw()" type="checkbox" class="sampleNamesCheck" name="mType"> M-Type&nbsp;<br>
          {% if 'state' == user.groups.all.0.name %}
            &nbsp;<input oninput="fullDraw()" type="checkbox" class="sampleNamesCheck" name="facilityStr"> Facility Name&nbsp;<br>
          {% endif %}
          &nbsp;<input oninput="fullDraw()" type="checkbox" class="sampleNamesCheck" name="collectionDate" checked> Collection Date&nbsp;<br>
          &nbsp;<input oninput="fullDraw()" type="checkbox" class="sampleNamesCheck" name="sequenceDate"> Sequence Date&nbsp;<br>
        </div>
      </div>
      </br>

      <span style="display: none;">
      Tree Type:
      <!-- SUSCEPTIBLE TOGGLE -->
      <input id="bestsnp" type="checkbox" checked data-toggle="toggle" data-on="bestsnp" data-off="missingdata" data-width="100%" data-onstyle="info" data-offstyle="info">
      </span>

      <div style="white-space: nowrap;">New Sample Range (<span id="newRangeValue"></span> months):</div>
      <input type="range" min=1 max=12 value=1 oninput="newRange = this.value; addMarks()">

      <span id=treeDatesLabel></span>
      <input id="treeDates" type="range" min=0 max=0 value=0 oninput="tree.draw(); document.getElementById('treeDatesLabel').innerHTML = 'Tree Date Range: (' + Object.keys(trees[treeType])[document.getElementById('treeDates').value] + ' months)'">

      <!--
      Zoom:
      <input type="range" min=1 max=20 value=1 oninput="tree.zoom = this.value/10; tree.draw()">

      Base Node Size:
      <input type="range" min=0 max=50 value=0 oninput="tree.baseNodeSize = this.value/2; tree.draw()">

      Line Width:
      <input type="range" min=1 max=20 value=1 oninput="tree.lineWidth = this.value/2; tree.draw()">
      -->

      Sample Name Font Size:
      <input id="leafSize" type="range" min=1 max=50 value=1 oninput="tree.textSize = this.value; tree.draw()">

      SNP Font Size:
      <input id="branchSize" type="range" min=1 max=50 value=1 oninput="tree.canvas.font = this.value + 'px ' + tree.canvas.font.split(' ')[1]; tree.draw()">

      Branch Scale:
      <input id="branchScale" type="range" min=1 max=20 value=1 oninput="tree.branchScalar = this.value/tree.maxBranchLength*200; tree.draw()">
      </br>

      <div>Cluster Distance (<span id="clusterDistanceLabel">0</span>):</div>
      <input id="clusterDistance" type="range" min=0 max=20 value=0 oninput="document.getElementById('clusterDistanceLabel').innerHTML = this.value; getClusters();">

      <div>Cluster Amount (<span id="clusterAmountLabel">2</span>):</div>
      <input id="clusterAmount" type="range" min=2 max=20 value=2 oninput="document.getElementById('clusterAmountLabel').innerHTML = this.value; getClusters();">
      </br>

      <button class="btn btn-block btn-info" type="button" aria-haspopup="true" aria-expanded="false">Print PDF</button>
      <button class="btn btn-block btn-info" type="button" aria-haspopup="true" aria-expanded="false">FAQ</button>

      
    </div>
    <div class="biomod biomod-content">
      <div class="biomod biomod-options-icon"><img src="{% static '/newick/images/options.png' %}"></div>
      <div class="biomod biomod-row">
        <div class="biomod biomod-module" id="phylocanvas"></div>
      </div>
      <div class="biomod biomod-row" style="height: 400px;">
        <div class="biomod biomod-module" id="treeContext1"></div>
      </div>
    </div>
  </div>
  <!-- -->
{% endblock %}

{% block mainContent %}
    <script>
      // prep 'bestsnp' toggle
      var treeType = 'bestsnp'
      $(function() {
        $('#bestsnp').change(function() {
          if ($(this).prop('checked')) {
            treeType = 'bestsnp'
          } else {
            treeType = 'missingdata'
          }
          resetM(Object.keys(trees[treeType][treeDate])[0])
        })
      })

      // prep treeDates slider
      document.getElementById("treeDates").max = Object.keys(trees[treeType]).length - 1
      document.getElementById("treeDates").value = document.getElementById("treeDates").max
      var treeDate = Object.keys(trees[treeType])[document.getElementById("treeDates").value]
      document.getElementById("treeDates").addEventListener('input', function() {
        treeDate = Object.keys(trees[treeType])[this.value]
        resetM(Object.keys(trees[treeType][treeDate])[0])
      })
      document.getElementById('treeDatesLabel').innerHTML = 'Tree Date Range: (' + Object.keys(trees[treeType])[document.getElementById('treeDates').value] + ' months)'

      // edit load function to run script after each load
      var tree = Phylocanvas.default.createTree('phylocanvas')
      tree.load = (function() {
        var cached = tree.load;
        return function() {
          var result = cached.apply(this, arguments)
          let emm = Object.keys(trees[treeType][treeDate][document.getElementById("masterButton").innerHTML]).filter(x => trees[treeType][treeDate][document.getElementById("masterButton").innerHTML][x] === arguments[0])[0]
          console.log('emm', emm)
          document.getElementById("gasMtypeButton").innerHTML = ((emm == 'ALL') ? 'ALL' : 'emm' + emm.split('M')[1].split('::')[0])
          
          addMarks()
          fullDraw()

          return result
        }
      })()

      tree.baseNodeSize = 2
      tree.setTreeType('rectangular')
      tree.showBranchLengthLabels = true
      for (var i in trees[treeType][treeDate]) {
        document.getElementById("masterDropdown").innerHTML += "<a class='dropdown-item' onclick='resetM(\"" + i + "\")'>" + i + "</a>"
      }
      function resetM(i) {
        document.getElementById("masterButton").innerHTML = i
        document.getElementById("gasMtypeButton").innerHTML = "ALL"
        tree.load(trees[treeType][treeDate][i]["ALL"])
        tree.draw()
        getCladeXY(i)
        fullDraw()
        document.getElementById("gasMtypeDropdown").innerHTML = ""

        let emm = new Object();
        console.log(trees[treeType][treeDate][i])
        for (var j in trees[treeType][treeDate][i]) {
          if (j == "ALL") {
            emm[0] = j
          } else {
            emm[j.split('M')[1].split('::')[0]] = j
          }
        }
        console.log(emm)

        for (var j in emm) {
          document.getElementById("gasMtypeDropdown").innerHTML += "<a class='dropdown-item' onclick='document.getElementById(\"gasMtypeButton\").innerHTML = \"" + ((j == 0) ? 'ALL' : 'emm' + j) + "\"; tree.load(\"" + trees[treeType][treeDate][i][emm[j]] + "\");getCladeXY(\"" + i + "\"); fullDraw();'>" + ((j == 0) ? 'ALL' : 'emm' + j) + "</a>"
        }
      }
      //resetM(Object.keys(trees)[0])
      resetM(Object.keys(trees[treeType][treeDate])[0])

      // adjust scalars
      tree.canvas.font = String(tree.textSize + 8) + 'px ' + tree.canvas.font.split(' ')[1]
      tree.draw()
      document.getElementById("leafSize").value = tree.textSize
      document.getElementById("branchSize").value = tree.canvas.font
      console.log(parseInt(200/tree.maxBranchLength))
      document.getElementById("branchScale").value = parseInt(tree.branchScalar/200*tree.maxBranchLength)-1


    </script>

    <script>

      document.getElementsByClassName('biomod-options-icon')[0].addEventListener('click', function() {
        Array.from(document.getElementsByClassName('biomod-module')).forEach(function(container) {
          container.classList.toggle('tog')
        })
        window.dispatchEvent(new Event('resize'));
        document.getElementsByClassName('biomod-options')[0].classList.toggle('tog');
        Array.from(document.getElementsByClassName('biomod-module')).forEach(function(container) {
          container.classList.toggle('tog')
        })
        window.dispatchEvent(new Event('resize'));
      })



      // cluster detection (move to phylocanvas later)
      function getClusters() {
        for (let leaf of tree.leaves.filter(x => x.markStyle["primary"] === true)) {
          leaf.markStyle["primary"] = false
        }
        for (let cluster of tree.getClusters(document.getElementById("clusterDistance").value, document.getElementById("clusterAmount").value)) {
          for (let leaf of cluster) {
            leaf.markStyle["primary"] = true
          }
        }
        tree.draw()
      }

















    </script>

{% endblock %}

