<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8"></meta>
  <!-- <meta http-equiv="Cache-control" content="no-cache"> -->                                                                                         
  <title>{% block title %}TGen North{% endblock %}</title>
  <base href="/epitools/">
  {% block static %}
    {% load static %}
    <!-- CSS -->
    <!-- Javascript -->
  {% endblock %}

</head>
<body>
<!--
<div style="position: absolute; top: 0; bottom: 0; height: 50%; width: 50%; background: blue">
  <div class="plate-grid" style="background-color: grey; display: flex; flex-flow: column; align-items: stretch;">
    <div class="plate-row" style="display: flex; flex-flow: row;">
      <div class="plate-cell" style="border-radius: 100%; background-color: red;"></div>
      <div class="plate-cell" style="border-radius: 100%; background-color: red;"></div>
      <div class="plate-cell" style="border-radius: 100%; background-color: red;"></div>
    </div>
    <div class="plate-row" style="display: flex; flex-flow: row;">
      <div class="plate-cell" style="border-radius: 100%; background-color: red;"></div>
      <div class="plate-cell" style="border-radius: 100%; background-color: red;"></div>
      <div class="plate-cell" style="border-radius: 100%; background-color: red;"></div>
    </div>
  </div>
</div>
-->


<div style="position: absolute; top: 0; left: 0; height: 49%; width: 49%; background: blue">
  <canvas class="plate-grid" style="background: grey;">
  </canvas>
</div>
<div style="position: absolute; top: 0; right: 0; height: 49%; width: 49%; background: blue">
  <canvas class="plate-grid" style="background: grey;">
  </canvas>
</div>
<div style="position: absolute; bottom: 0; left: 0; height: 49%; width: 49%; background: blue">
  <canvas class="plate-grid" style="background: grey;">
  </canvas>
</div>
<div style="position: absolute; bottom: 0; right: 0; height: 49%; width: 49%; background: blue">
  <canvas class="plate-grid" style="background: grey;">
  </canvas>
</div>


<script>
/*
  function resizePlate() {
    for (let grid of document.getElementsByClassName("plate-grid")) {
      let gridHeight = grid.parentElement.clientHeight
      let gridWidth = grid.parentElement.clientWidth
      let heightRatio = 0
      let widthRatio = 1
      let rows = grid.getElementsByClassName("plate-row")
      for (let row of rows) {
        let cells = row.getElementsByClassName("plate-cell")
        heightRatio += 1/cells.length
      }

      if (gridWidth * heightRatio <= gridHeight) {
        gridHeight = gridWidth * heightRatio
      } else {
        gridWidth = gridHeight / heightRatio
      }

      grid.style.height = String(gridHeight) + "px"
      grid.style.width = String(gridWidth) + "px"

      for (let row of rows) {
        let cells = row.getElementsByClassName("plate-cell")
        row.style.height = String(gridHeight / heightRatio / cells.length) + "px"
        for (let cell of cells) {
          cell.style.width = row.style.height
        }
      }
    }

  }
*/
  const colSize = 1/13
  const rowSize = 1/9

  function resizePlate() {
    // for each instance of plate-grid class
    for (let grid of document.getElementsByClassName("plate-grid")) {

      // get parent container height and width
      let gridHeight = grid.parentElement.clientHeight
      let gridWidth = grid.parentElement.clientWidth

      // get canvas context for editing
      ctx = grid.getContext("2d");

      // re-render canvas bounds to fit parent container
      if (gridHeight/9 >= gridWidth/13) {
        ctx.canvas.height = gridWidth/13*9
        ctx.canvas.width = gridWidth
      } else {
        ctx.canvas.height = gridHeight
        ctx.canvas.width = gridHeight/9*13
      }

      let radius = ctx.canvas.height/9/2*0.9
      let perimeter = 2*Math.PI
      let x = ctx.canvas.width * colSize
      let y = ctx.canvas.height * rowSize

      ctx.textAlign = "center";
      ctx.textBaseline = "middle";
      ctx.font = String(parseInt(ctx.canvas.height/9/2)) + "px Arial";
      // draw IDs
      for (let i = 1; i < 13; i++) {
        ctx.fillText(String(i), x * i + radius, radius)
      }
      for (let i = 1; i < 9; i++) {
        ctx.fillText(String.fromCharCode(i+64), radius, y * i + radius)
      }

      ctx.font = String(parseInt(ctx.canvas.height/9/3)) + "px Arial";
      // draw wells
      for (let i = 1; i < 9; i++) {
        for (let j = 1; j < 13; j++) {
          ctx.beginPath();
          ctx.arc(x * j + radius, y * i + radius, radius, 0, perimeter)
          ctx.fillStyle = "white";
          ctx.fill()
          ctx.stroke()
          ctx.fillStyle = "black";
          ctx.fillText(String(i) + "-" + String(j), x * j + radius, y * i + radius)
          ctx.closePath()
        }
      }

    }
  }

  window.addEventListener("DOMContentLoaded", function(e) {
    resizePlate()
  })
  window.addEventListener("resize", function(e) {
    resizePlate()
  })

</script>

</body>
</html>
