{% extends "newick/samples.html" %}

{% block static %}
  {{ block.super }}
  {% load leaflet_tags %}
  {% leaflet_css %}
  {% leaflet_js %}
  {% load static %}
  <script src="{% static '/newick/js/countyCoordinates.js' %}"></script>
  <script src="{% static '/leaflet/leaflet-heat.js' %}"></script>
  <script src="{% static '/leaflet/leaflet-svgicon/svg-icon.js' %}"></script>
  <style>
    .leaflet-container {  /* all maps */
      width: 100%;
      height: 100%;
      z-index: 1;
    }   
  </style>


  <!--====================================================================================================( SCRIPTS )-->
  <script>
    //=========================( Wait For Page Load )
    document.onreadystatechange = function () {
      if (document.readyState === 'complete') {
        document.getElementsByClassName('biomod-options-icon')[0].addEventListener('click', function() {
          document.getElementsByClassName('biomod-options')[0].classList.toggle('tog');
          window.dispatchEvent(new Event('resize'));
        })
        window.dispatchEvent(new Event('resize'));
      }
    }
  </script>

{% endblock %}

{% block BioMod %}

  <div class="biomod biomod-container">
    <!--====================================================================================================( OPTIONS MENU )-->
    <div class="biomod biomod-options">
      Display Area for Dropdown Menues.
    </div>

    <!--====================================================================================================( MAIN CONTENT )-->
    <div class="biomod biomod-content">
      <div class="biomod biomod-row">
        <div class="biomod biomod-options-icon"><img src="{% static '/newick/images/options.png' %}"></div>
        <div class="biomod biomod-module" style="flex-grow: 5;">

  {% leaflet_map "main" %}


  <script>
    window.addEventListener("map:init", function (e) {

      var detail = e.detail;

      //detail.map.addLayer(sampleMonths[Object.keys(monthChance)[document.getElementById("mScale").value]]["overlay"])

      /*detail.map.on('overlayadd', function () {
        fillSamples()
        updateGraph()
      })
      detail.map.on('overlayremove', function () {
        fillSamples()
        updateGraph()
      })*/

      //var marker = new L.Marker.SVGMarker([35,-109.3], { iconOptions: { circleText:125 }}).addTo(detail.map);
      //var marker = new L.Marker.SVGMarker([35.1,-109.4], { iconOptions: { circleText:500 }}).addTo(detail.map);


      // --------------------( BANNER HEALTH FACILITIES )

/*
      // Banner Baywood Medical Center
      var marker = L.marker([33.410604, -111.68806],{title:"Banner Baywood Medical Center",clickable:true}).addTo(detail.map);

      // Banner Boswell Medical Center
      var marker = L.marker([33.603941, -112.28356],{title:"Banner Boswell Medical Center",clickable:true}).addTo(detail.map); //emm82, 18

      // Banner Del E Webb Medical Center
      var marker = L.marker([33.659783, -112.373],{title:"Banner Del E Webb Medical Center",clickable:true}).addTo(detail.map);

      // Banner Desert Medical Center
      var marker = L.marker([33.25561, -111.884167],{title:"Banner Desert Medical Center",clickable:true}).bindPopup("<h4>Banner Desert Medical Center</h4>", {'maxWidth':'600'}).addTo(detail.map); //emm60, 10

      // Banner Estrella Medical Center
      var marker = L.marker([33.478178, -112.25744],{title:"Banner Estrella Medical Center",clickable:true}).addTo(detail.map);

      // Banner Gateway Medical Center
      var marker = L.marker([33.450069, -111.71913],{title:"Banner Gateway Medical Center",clickable:true}).addTo(detail.map); //emm59, 23

      // Banner Health Center
      var marker = L.marker([33.607275, -112.25869],{title:"Banner Health Center",clickable:true}).addTo(detail.map); //emm1, 23

      // Banner Heart Hospital
      var marker = L.marker([33.41128, -111.68915],{title:"Banner Heart Hospital",clickable:true}).bindPopup("<h4>Weenie Hut General</h4>", {'maxWidth':'600'}).addTo(detail.map); //emm89, 17

      // Banner Thunderbird Medical Center
      var marker = L.marker([33.609189, -112.17915],{title:"Banner Thunderbird Medical Center",clickable:true}).bindPopup("<h4>Banner Thunderbird Medical Center</h4>", {'maxWidth':'600'}).addTo(detail.map);
*/
      // --------------------( TILE LAYERS & OVERLAYS )
      var baseLayers = {
        "Grey" : L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}', {'attribution': 'Esri &mdash; Esri, DeLorme, NAVTEQ', 'maxZoom': 16}),
        "Dark Grey" : L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Dark_Gray_Base/MapServer/tile/{z}/{y}/{x}', {'attribution': 'Esri &mdash; Esri, DeLorme, NAVTEQ', 'maxZoom': 16}),
      };

        /*var polygon = L.polygon(counties[Object.keys(counties).sort()[i]], {
          title: Object.keys(counties).sort()[i],
          clickable: true,
          color: 'hsl(0, 100%, 0%)',
          opacity: 0.7,
          weight: 1,
          fillOpacity: 0.0
        });
        overlays[Object.keys(counties).sort()[i]] = polygon;
        detail.map.addLayer(polygon)*/
      //L.control.layers(baseLayers, overlays).addTo(detail.map);
      L.control.layers(baseLayers).addTo(detail.map);

      detail.map.addLayer(baseLayers["Grey"])
    }, false);


  </script>
        </div>
        <div class="biomod biomod-module" style="flex-grow: 0;;">
          Display Area for Additional Corona Virus Stats.
        </div>
      </div>
    </div>
  </div>

{% endblock %}
