{% extends "default.html" %}

{% block title %}<title>Reset Password</title>{% endblock %}

{% block static %}
  {{ block.super }}
  {% load static %}

  <!-- redirect user if already logged in -->
  {% if user.is_authenticated %}
    <script>window.location.href = "/newick/"</script>
  {% endif %}

  <link href="{% static 'newick/css/accountStyle.css' %}" rel="stylesheet">
  <script src="{% static 'newick/js/accountScript.js' %}"></script>
{% endblock %}

{% block mainContent %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="form form-md">
      <div class="form-header">Reset Password</div>
      <div class="form-body">
        <div class="form-group">
          <label for="user">Email:</label>
          <input type="text" class="form-control" id={{ form.email }}</input>
          {% if form.email.errors %}
            <p class="error">Enter a proper email address.</p>
          {% endif %}
        </div>
        <div style="display:flex;" class="form-group">
          <button type="submit" value="Reset password" class="btn btn-info btn-lg form-submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
