.SvgButton {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  position: relative;
  margin-right: 2px;
  z-index: 100;
}

.SvgButton:hover {
}

.DropZ {
  width: 300px;
  position: relative;
  background-color: #fbfbfb;
  margin-top: 6px;
  border-radius: 10px;
  box-shadow: -2px 2px 7px rgba(0,0,0,0.4);
  padding: 5px !important;
  max-height: 50vh;
  overflow-y: scroll;
}

.DropZ > div {
  padding: 5px;
  padding-left: 10px;
  padding-right: 12px;
}
