.SvgButton {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.SvgButton:hover {
}

.DropZ {
  min-width: 300px;
  max-width: 600px;
  background-color: #fbfbfb;
  margin-top: 6px;
  border-radius: 10px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.4);
  max-height: 50vh;
  overflow-y: scroll;
}
